---
import Layout from "../layouts/Layout.astro";
import AppBar from "../components/AppBar/AppBar.astro";
import Notice from "../components/Notice.astro";
import Section from "../components/Section.astro";
import AppAnchor from "../components/AppAnchor.astro";
---

<Layout title="ENC - 应用于内部网络的即时通讯工具">
  <main>
    <AppBar />
    <Notice />
    <h2 class="mt-24 text-center text-5xl">功能简介</h2>
    <Section label="现代化的即时通讯能力">
      <div class="flex">
        <img class="w-72" alt="app example snapshot" />
        <div class="w-72">
          <ul class="list-disc">
            <li>群组</li>
            <li>多媒体消息</li>
            <li>音视频通话</li>
            <li>……</li>
          </ul>
        </div>
      </div>
    </Section>
    <Section label="代码开源">
      <p>ENC客户端和服务器的源代码都是开源的</p>
      <p>这意味着所有人都可以审查代码中存在的漏洞</p>
      <p>或是根据自己的需要对应用提出改进的意见</p>
    </Section>
    <Section label="去中心化">
      <p>ENC去中心化的设计使用户账号可同时与多个服务器建立连接</p>
      <p>这不仅意味着单一账号可同时从公共网络和局域网络中获取消息</p>
      <p>还意味着用户可以同时连接到多个公共网络，从而实现个人账号的“高可用”</p>
    </Section>
    <Section label="基于 ECC25519 的端到端加密">
      <p>端到端加密可有效避免中间人窃听用户消息</p>
      <p>
        ENC 主要使用 X25519 & ED25519 & chacha20-ploy1305
        实现端到端加密和消息签名
      </p>
    </Section>
    <Section label="多设备同步">
      <p>ENC 的账号可以在多个设备上保持同步</p>
      <p>
        <span>实现这一功能的理论基础是CRDT，具体内容请点击查看</span>
        <a href="#">技术文档/多设备数据同步</a>
      </p>
    </Section>
    <Section label="多平台支持">
      <p>ENC 的客户端使用Flutter编写，目前支持 Android 和 Windows</p>
      <p>服务器使用Node.js编写，可通过 Docker 部署到常见的服务器或个人 PC</p>
    </Section>
    <h2 class="text-center text-5xl">关于 ENC</h2>
    <Section label="作者信息" />
    <Section label="提出建议">
      <p>
        <span>若对ENC有任何功能或设计上的建议、意见，请前往</span>
        <AppAnchor
          href="https://github.com/sheason2019/cfc/issues"
          target="_black"
        >
          ENC GitHub Issue 页面
        </AppAnchor>
        <span>描述你的问题</span>
      </p>
      <p>我们会积极回复并考虑如何解决</p>
    </Section>
    <Section label="支持和赞助">
      <p>如果您非常喜欢ENC，可以在ENC的GitHub主页为此项目提供一颗 Star</p>
      <p>
        如果您想帮助ENC积极成长，可以通过提供 Pull Request 的方式为ENC建设源码
      </p>
    </Section>
  </main>
</Layout>

<style>
  main {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }

  p {
    margin-bottom: 12px;
  }
</style>
