---
import { ViewTransitions } from 'astro:transitions';
import AppBar from '../components/AppBar/AppBar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<AppBar />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #0F0F0F;
		background-size: 224px;
		padding: 0;
		margin: 0;
		height: 100%;
		color: #FFFFFF;
	}
	body {
		padding: 0;
		margin: 0;
	}
</style>
