---
import EncIcon from "./EncIcon.astro";
---

<div class="flex flex-col items-center">
  <div class="flex flex-row my-12 items-center">
    <div class="w-64 h-64 mr-6">
      <EncIcon />
    </div>
    <div class="flex flex-col items-start font-mono font-bold">
      <h1 class="text-6xl">
        <span class="high-light">E</span>dge
      </h1>
      <h1 class="text-6xl mt-8">
        <span class="high-light">N</span>etwork
      </h1>
      <h1 class="text-6xl mt-8">
        <span class="high-light">C</span>ommulicate</h1>
    </div>
  </div>
  <h1 class="text-6xl">应用于内部网络的即时通讯工具</h1>
</div>

<style>
  .high-light {
    color: #6750A4;
  }
</style>
