---
import EncIcon from "./EncIcon.astro";
---

<div class="flex flex-col items-center">
  <div class="flex flex-col sm:flex-row my-12 items-center">
    <div class="w-64 h-64 mr-6">
      <EncIcon />
    </div>
    <div class="flex flex-col items-start font-mono font-bold">
      <h1 class="text-6xl">
        <span class="high-light">E</span>dge
      </h1>
      <h1 class="text-6xl mt-8">
        <span class="high-light">N</span>etwork
      </h1>
      <h1 class="text-6xl mt-8">
        <span class="high-light">C</span>ommulicate
      </h1>
    </div>
  </div>
  <h1 class="text-2xl sm:text-4xl md:text-6xl">应用于内部网络的即时通讯工具</h1>
  <a href="/download" class="mt-8">
    <button class="download px-8 py-4 rounded-md">立即下载</button>
  </a>
</div>

<style>
  .high-light {
    color: #6750a4;
  }
  .download {
    background-color: #6750a4;
    transition: all 150ms;
  }
  .download:hover {
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.25);
  }
</style>
